node_modules
apps/**/node_modules
packages/**/node_modules

apps/**/dist
apps/**/build
apps/**/.next

!apps/client/config/build

.git
.vscode
.DS_Store
.env
.env.*
npm-debug.log


*.tsbuildinfo
*.log.*
*.pem