.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e3e3eb;

  --primary-color: #039003;
  --primary-color: #03ee03;
  --inverted-primary-color: #051d64;
  --inverted-secondary-color: #0348e1;
}
