.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e3e3eb;
    --primary-color: #03ee03;
    --secondary-color: #039003;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0449e0;
}
