.app.light {
  --bg-color: #e3e3eb;
  --inverted-bg-color: #090949;

  --primary-color: #051d64;
  --secondary-color: #0348e1;
  --inverted-primary-color: #039003;
  --inverted-primary-color: #03ee03;
}
